.CardLogin {
    width: 500px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    
   
}

.containerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

.CardLogin-Left {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/Logo_fcMetz_blanc.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.CardLogin-Right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    text-align: center;

}

form {
    width: 100%;
    max-width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #47a0e9;
    color: white;
    border: none;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}