/* Reset des marges et padding */
* {
    margin: 0;
    padding: 0;
}

/* Reset de la taille des boîtes */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* modification Titre principaux*/
h1,
h2,
h3 {
    text-transform: uppercase;

    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;


}

/* modification paragraphe et titre secondaire*/
p, label, tr, td{

    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;

}


/*modification du corps du site*/
body {
    background-color: #EBEBEB;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6e0b14;
    width: 100vw;
    height: 50px;
    color: goldenrod;
    font-size: larger;
}

header a{
    color: goldenrod;
}

/* modification de la boite qui contient les autres boites*/
.containerPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 300px;
}

/* modification des boites */
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    gap: 25px;
}

a {
    text-decoration: none;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    background-color: #6e0b14;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 5px;
    padding: 5px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*pagination*/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #6e0b14;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd; 
}


.row-even {
    background-color: #f2f2f2;
}

.row-odd {
    background-color: #e6e6e6;
}

.pagination a.prev-page,
.pagination a.next-page {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}
a.prev-page,
a.next-page {
    background-color: #6e0b14;
    color: goldenrod;
    border: 3px solid goldenrod;
    border-radius: 5px;
}

.pagination a.prev-page:hover,
.pagination a.next-page:hover {
    background-color: #555;
}
